<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>PinedaGames</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <!-- Agrega más elementos de lista con enlaces a otras páginas si es necesario -->
            </ul>
        </nav>
    </header>
    <main>
        <!-- A wrapper for all the blog posts -->
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Tienda de productos</p>
    </footer>   
</body>
</html>
