{% extends "base.html" %}
{% block title %}Detalle{% endblock %}
{% block content %}

<section class="menu-desplegable">
    {% for var in videojuegos %}
        <p>{{var.nombre}}</p>
        <img src="{{ var.imagen }}" class="detalle">
        <p>{{var.año}}</p>
        <p>{{var.puntuacion}}</p>
    {% endfor %}
    <p>Plataformas en la que se pueden jugar</p>
    {% for var in plataforma %}
        <p>{{var}}</p>
    {% endfor %}
    <p>Generos</p>
    {% for var in genero %}
    <p>{{var}}</p>
    {% endfor %}
</section>

{% endblock %}
