{% extends "base.html" %}
{% block title %}Detalle{% endblock %}
{% block content %}

<section class="menu-desplegable">
    {% for var in videojuegos %}
        <h1 class="titulo">{{var.nombre}}</h1>
        <br>
        <img src="{{ var.imagen }}" class="detalle">
        <p class="tamaño"><b>Año de estreno: </b>{{var.año}}</p>
        <p class="tamaño"><b>Puntuacion: </b>{{var.puntuacion}}/100</p>
    {% endfor %}

    <section class="productos">
        <div class="producto">
            <h3>Plataformas en las que se pueden jugar</h3>
    <table>
        <thead>
          <tr>
            <th>Plataformas</th>
          </tr>
        </thead>
        <tbody>
          {% for var in plataforma %}
          <tr>
            <td>{{ var }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>

        <div class="producto">
    <table>
      <caption>Géneros</caption>
      <thead>
        <tr>
          <th>Género</th>
        </tr>
      </thead>
      <tbody>
        {% for var in genero %}
        <tr>
          <td>{{ var }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        </div>
     </section>       
</section>
<br><br>

{% endblock %}
